################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sieuthidientudong_2/.vs/VCMS.MVC4.Web/FileContentIndex
