################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sieuthidientudong_2/.vs/VCMS.MVC4.Web/FileContentIndex
/sieuthidientudong_2/VCMS.MVC4.Initializer/obj/Debug
/sieuthidientudong_2/VCMS.MVC4.Web/obj/Debug
/sieuthidientudong_2/VCMS.MVC4.Editor/obj/Debug
/sieuthidientudong_2/VCMS.MVC4.Data/obj/Debug
/publish
