
/*********************
    Pager
    ******************/
.pager {
    padding: 5px 5px 5px 0;
    text-align: left;
    margin: 10px 0;
    /* border: 1px solid rgba(30, 31, 30, 0.07); */
    border-left: none;
    border-right: none;
}

    .pager a {
        padding: 5px 9px;
        border: 1px solid #ddd;
        margin-right: 3px;
        font-size: 12px;
    }

        .pager a.active {
            font-weight: 700;
            background: #007bff;
            border: 1px solid #007bff;
            color: white;
        }
